.projects-cont {
    overflow: hidden;
}

.projects-cont.hide {
    height: 600px;
}

.projects-cont.show {
    height: fit-content;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 404px);
    gap: 48px;
    width: fit-content !important;
}

.project {
    height: 600px;
    width: 404px !important;
    border: 1px #8ECAE6 solid;
}

.thumbnail {
    height: calc(100% * .6);
    width: 100%;
    top: -15px;
    left: -15px;
    transition: .2s;
    border: 1px solid #8ECAE6;
}

.project:hover .thumbnail {
    top: 0;
    left: 0;
    filter: none;
}

.thumbnail img {
    height: 400px;
}

.proj-art {
    color: #8ECAE6;
}

.proj-title, .proj-desc {
    font-family: 'Roboto Condensed', sans-serif;
}

.proj-desc {
    font-size: 18px;
}

.technologies {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: #219EBC;
}

.proj-code {
    width: fit-content;
}

@media (max-width: 1540px) {
    .projects-cont.hide {
        height: calc(((600px + 48px) * 2) - 48px);
    }
}

@media (max-width: 998px) {
    .projects-cont.hide {
        height: calc(((600px + 48px) * 3) - 48px);
    }
}

@media (max-width: 428px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .project {
        width: 100% !important;
        height: 450px;
    }

    .thumbnail {
        height: calc(100% * .5);
    }

    .proj-title {
        font-size: 18px;
    }
    
    .proj-desc {
        font-size: 16px;
    }

    .proj-code {
        font-size: 14px;
    }

    .technologies {
        font-size: 12px;
    }
}