.project {
    height: 516px;
    width: 404px !important;
    border: 1px #8ECAE6 solid;
}

.thumbnail {
    height: calc(100% / 1.75);
    top: -15px;
    left: -15px;
    transition: .2s;
}

.project:hover .thumbnail {
    top: 0;
    left: 0;
}

.proj-art {
    color: #8ECAE6;
}

.proj-title, .proj-desc {
    font-family: 'Roboto Condensed', sans-serif;
}

.technologies {
    font-family: 'Cousine', monospace;
    color: #219EBC;
    font-weight: bold;
}

.proj-code {
    width: fit-content;
}

@media (max-width: 420px) {
    .project {
        height: calc(516px / 1.5) !important;
        width: calc(404px / 1.5) !important;
    }

    .proj-title {
        font-size: 16px;
    }
    
    .technologies, .proj-desc {
        font-size: 14px;
    }
}