.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 404px);
    gap: 48px;
    width: fit-content !important;
}

.project {
    height: fit-content;
    width: 404px !important;
    border: 1px #8ECAE6 solid;
}

.thumbnail {
    height: 290px;
    width: 100%;
    top: -15px;
    left: -15px;
    transition: .2s;
    border: 1px solid #8ECAE6;
}

.project:hover .thumbnail {
    top: 0;
    left: 0;
    filter: none;
}

.thumbnail img {
    height: calc(100% * 1.1);
}

.proj-art {
    color: #8ECAE6;
}

.proj-title, .proj-desc {
    font-family: 'Roboto Condensed', sans-serif;
}

.read-more {
    height: fit-content;
}

.proj-desc {
    min-height: 54px;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
}

.proj-desc.hide {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.technologies {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: #219EBC;
    cursor: pointer;
}

.technologies.hide {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.proj-code {
    width: fit-content;
}

@media (max-width: 428px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .project {
        width: 100% !important;
    }

    .proj-title {
        font-size: 18px;
    }
    
    .proj-desc {
        font-size: 16px;
    }

    .proj-code {
        font-size: 14px;
    }

    .technologies {
        font-size: 12px;
    }
}