.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 404px);
    gap: 48px;
    width: fit-content !important;
}

.project {
    height: fit-content;
    width: 404px !important;
}

.thumbnail {
    height: 290px;
    width: 100%;
    top: -15px;
    left: -15px;
    transition: .2s;
}

.project:hover .thumbnail {
    top: 0;
    left: 0;
}

.thumbnail img {
    height: calc(100% * 1.1);
}

.proj-art {
    color: var(--global-text-color);
}

.proj-title, .proj-desc {
    font-family: Consolas, monospace;
}

.proj-desc {
    font-size: 18px;
}

.technologies {
    font-family: Consolas, monospace;
    font-style: italic;
    color: var(--global-title-color);
}

.proj-text-btn {
    background: none;
    border: none;
    width: 100%;
    padding: 0;
}

.proj-text-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

.proj-text-btn svg {
    height: 1.2em;
}

.info-cont.hide {
    max-height: 0;
    overflow: hidden;
}

.info-cont.read-more {
    max-height: auto;
}

.proj-text-btn.up svg {
    transform: rotate(180deg);
}

.proj-code {
    width: fit-content;
    padding: 1px 5px !important;
}

@media (max-width: 428px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .project {
        width: 100% !important;
    }

    .proj-title {
        font-size: 18px;
    }
    
    .proj-desc {
        font-size: 16px;
    }

    .proj-code {
        font-size: 14px;
    }

    .technologies {
        font-size: 12px;
    }
}