* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  background-color: #f2f2f2;
}

nav {
  background-color: #0095b3;
  z-index: 2;
}

.nav-link, .nav-link:hover {
  color: #f2f2f2;
}

.nav-link:hover {
  color: white;
  background-color: #00bfe6;
}

.contact-links {
  color: black;
}

.thmbnail-hover {
  background-color: #262626;
}

.project-name {
  color: white;
}

.contact-links:hover {
  color: gray;
}