@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    50% {
        opacity: 0;
        transform: translateX(-5%);
    }
}

@keyframes btnSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    75% {
        opacity: 0;
        transform: translateY(50%);
    }
}

.hello {
    color: var(--global-title-color);
    font-size: clamp(1.2em, 3.5vw, 4em);
    animation: .8s ease slideIn;
}

.name {
    color: var(--global-text-color);
    font-size: clamp(2em, 6vw, 6em);
    animation: .9s ease slideIn;
}

.desc {
    color: var(--global-title-color);
    font-size: clamp(1.2em, 2.5vw, 3em);
    animation: 1s ease slideIn;
}

.resume-btn {
    animation: 1.2s ease-in btnSlideIn;
}