@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }
    50% {
        opacity: 0;
        transform: translateX(-5%);
    }
}

@keyframes btnSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    75% {
        opacity: 0;
        transform: translateY(50%);
    }
}

.hello {
    color: #8ECAE6;
    font-family: 'Cousine', monospace;
    font-weight: bold;
    font-size: 6em;
    animation: .8s ease slideIn;
}

.desc {
    font-size: 4em;
    animation: 1s ease slideIn;
}

.resume-btn {
    background: #FFB703;
    text-decoration: none;
    color: #023047;
    padding: 15px 36px;
    animation: 1.2s ease-in btnSlideIn;
}

.resume-btn:hover {
    background: #FB8500;
    color: #023047;
}

@media (max-width: 1024px) {
    .hello {
        font-size: 3em;
    }
    .desc {
        font-size: 2em;
    }
}

@media (max-width: 512px) {
    .hello {
        font-size: 2em;
    }
    .desc {
        font-size: 1.2em;
    }
    .resume-btn {
        font-size: 14px;
        padding: 10px 24px;
    }
}