.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    width: fit-content !important;
    gap: 20px;
}

.skill {
    width: 140px;
    height: 140px;
    color: var(--global-text-color);
    font-family: Consolas, monospace;
    font-size: 1.2em;
    transition: .25s;
}

.skill:hover {
    transform: scale(1.2);
}

.skill img {
    height: 96px;
    width: 96px;
}

.skill img.sm {
    padding: 12px;
}

@media (max-width: 976px) {
    ::-webkit-scrollbar{
        display: none;
    }

    .grid-cont.border {
        overflow-x: scroll;
        border: none !important;
    }

    .skills-grid {
        grid-template-columns: repeat(17, 140px);
    }
}