@keyframes linkSlideIn {
    0% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-100%);
    }
}

.fixed-links, .footer-links {
    grid-template-columns: auto;
    gap: 30px;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.fixed-links {
    display: grid;
    position: fixed;
    top: 35%;
    animation: 1.4s ease-in linkSlideIn;
}

.footer-links {
    display: none;
}

.link {
    height: 36px;
    width: 36px;
}

.link:hover {
    transform: translateY(-15%);
}

@media (max-width: 575px) {
    .link {
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 528px) {
    .fixed-links {
        display: none;
    }
    .footer-links {
        display: grid;
        grid-template-columns: repeat(3, 24px);
        position: relative;
    }
}