.avatar {
    background: var(--global-title-color);
    border-radius: 50%;
    overflow: hidden;
    border: 1px var(--global-border-color) solid;
}

.about-art {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: var(--global-text-color);
}