@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }
    75% {
        transform: translateY(-100%);
    }
}

.navbar {
    animation: 1.6s ease-out slideDown;
}

@media (max-width: 991px) {
    .navbar {
        background: none;
    }
}

.nav-item {
    padding: 1em 2em;
}

.nav-btn {
    display: block;
    font-size: 18px;
}

.nav-btn::after {
    content: "";
    display: block;
    background: #FB8500;
    height: 3px;
    width: 0%;
    transition: .2s;
}

.nav-btn:hover::after {
    width: 100%;
}

.selected {
    color: #FB8500;
}

.selected::after {
    content: "";
    display: block;
    background: #FB8500;
    height: 3px;
    width: 100%;
}

.navbar-toggler {
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0 !important;
}

.navbar-toggler:enabled {
    box-shadow: none !important;
}

.hamburger {
    display: block;
    width: 24px;
    height: 2px;
    background: #FFB703;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background: #FFB703;
}

.hamburger::before {
    top: 0;
    left: 0;
}

.hamburger::after {
    bottom: 0;
    left: 0;
}

.close {
    width: 24px;
    height: 2px;
    background: #FFB703;
    transform: rotate(-45deg);
}

.close::after {
    content: "";
    width: 24px;
    height: 2px;
    background: #FFB703;
    position: absolute;
    transform: rotate(90deg);
    left: 0;
}

.hamburger,
.hamburger *,
.close,
.close::after {
    transition: .2s;
}

button:hover ::after,
button:hover ::before,
button:hover div {
    background: #FB8500;
}

.offcanvas {
    width: fit-content !important;
    background: #023047 !important;
}