.input-cont {
    border: 1px #8ECAE6 solid;
    width: fit-content;
    padding: 60px 90px;
}

.input-cont h2 {
    font-weight: bold;
    font-size: 64px;
}

.input {
    display: block;
    width: 100%;
    background: none;
    border: 1px #8ECAE6 solid;
    font-family: 'Cousine', monospace;
    font-size: 18px;
    transition: .2s;
}

.input, .input::placeholder {
    color: #8ECAE6;
}

.input:focus {
    outline: none;
    border: 1px #FFB703 solid;
}

.send-btn {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    background: #FFB703;
    text-decoration: none;
    color: #023047;
    padding: 15px 36px;
    font-size: 18px;
    border: none;
}

.send-btn:hover {
    background: #FB8500;
}

@media (max-width: 1024px) {
    .input-cont {
        padding: 0;
        border: none;
    }

    .input-cont h2 {
        font-size: 2em;
    }

    .input-cont div {
        flex-direction: column;
    }

    .send-btn {
        padding: 10px 24px;
        font-size: 14px;
    }
}

.mail {
    width: fit-content;
}

.footer-text {
    color: #8ECAE6;
    font-family: 'Cousine', monospace;
}

.alert {
    border: 1px #8ECAE6 solid;
    border-radius: 0px;
}