* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

#cont {
  overflow-x: hidden;
}

nav {
  background-color: #0095b3;
  z-index: 1;
}

.nav-link, .nav-link:hover {
  color: #f2f2f2;
}

.nav-link:hover {
  color: white;
  background-color: #00bfe6;
}

.project {
  background-color: white;
  color: black;
}

.project:hover, .contact-links {
  color: black;
}

.contact-links:hover {
  color: gray;
}