:root {
    --global-primary-color: #FFB703;
    --global-hoover-color: #FB8500;
    --global-title-color: #219EBC;
    --global-text-color: #8ECAE6;
    --global-border-color: #004a6e;
    --global-bg-color: #002a3f;
    --global-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, .4));
}

* {
    list-style: none;
}

a, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--global-primary-color);
    filter: var(--global-shadow);
    transition: .2s;
}

a:hover {
    color: var(--global-hoover-color);
}

.btn-theme {
    display: block;
    background: var(--global-primary-color);
    text-decoration: none;
    color: var(--global-bg-color);
    padding: 15px 20px;
    border: none;
}

.btn-theme:hover {
    color: var(--global-bg-color);
    background: var(--global-hoover-color);
}

.border {
    border-color: var(--global-border-color) !important;
}

svg {
    fill: var(--global-primary-color);
    transition: .2s;
}

svg:hover {
    fill: var(--global-hoover-color);
}

::-webkit-scrollbar{
    width: 7.25px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    background: var(--global-primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--global-hoover-color);
}

body {
    position: relative;
    background: var(--global-bg-color);
}

h2 {
    font-family: 'Cuprum', sans-serif;
    color: var(--global-title-color);
    font-size: 36px;
}

.separator {
    height: 1px;
    background: var(--global-border-color);
    margin-bottom: 1em;
}

.reveal {
    opacity: 0;
    transform: translateX(-2.5%);
    transition: .4s;
    padding-top: 10%;
}

.reveal.active {
    opacity: 1;
    transform: translateX(0);
}

.arrow {
    position: absolute;
    bottom: 1em;
    filter: none;
}

.arrow.up {
    height: 2.5em;
    width: 2.5em;
    padding: 0 12px;
    right: 1em;
    border-radius: 50px;
    fill: var(--global-bg-color);
    transform: rotate(180deg) scale(0);
}

.arrow.up.reveal {
    opacity: 1;
    transform: rotate(180deg) scale(1);
}

.arrow-btn {
    filter: none;
}