* {
    list-style: none;
}

a, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #FFB703;
    transition: .2s;
}

a:hover {
    color: #FB8500;
}

.btn-theme {
    display: block;
    background: #FFB703;
    text-decoration: none;
    color: #023047;
    padding: 15px 30px;
    border: none;
}

.btn-theme:hover {
    color: #023047;
    background: #FB8500;
}

svg {
    fill: #FFB703;
    transition: .2s;
}

svg:hover {
    fill: #FB8500;
}

::-webkit-scrollbar{
    width: 7.25px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    background: #FFB703;
}

::-webkit-scrollbar-thumb:hover {
    background: #FB8500;
}

body {
    position: relative;
    background: #023047;
}

h2 {
    font-family: 'Cuprum', sans-serif;
    color: #219EBC;
    font-size: 36px;
}

.separator {
    height: 1px;
    background: #8ECAE6;
    margin-bottom: 1em;
}

.reveal {
    opacity: 0;
    transform: translateX(-2.5%);
    transition: .4s;
    padding-top: 10%;
}

.reveal.active {
    opacity: 1;
    transform: translateX(0);
}

.arrow {
    position: absolute;
    bottom: 1em;
}

.arrow.up {
    height: 2.5em;
    width: 2.5em;
    padding: 0 12px;
    right: 1em;
    border-radius: 50px;
    fill: #023047;
    transform: rotate(180deg) scale(0);
}

.arrow.up.reveal {
    opacity: 1;
    transform: rotate(180deg) scale(1);
}