@font-face {
    font-family: Consolas;
    src: url("./assets/Fonts/CONSOLA.TTF");
}

:root {
    --global-primary-color: #ffd15d;
    --global-hoover-color: #eeab00;
    --global-title-color: #0075b9;
    --global-text-color: #9ee0ff;
    --global-border-color: #004a6e;
    --global-bg-color: #1b1b1b;
    --global-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, .4));
}

* {
    list-style: none;
}

a, button {
    font-family: Consolas, monospace;
    font-weight: 500;
    text-decoration: none;
    color: var(--global-primary-color);
    transition: .2s;
}

a:hover {
    color: var(--global-hoover-color);
}

.btn-theme {
    display: block;
    text-decoration: none;
    color: var(--global-primary-color);
    padding: 15px 20px;
    background: none;
    border: 1px solid var(--global-primary-color);
}

.btn-theme:hover {
    color: var(--global-bg-color);
    background: var(--global-hoover-color);
    border-color: var(--global-hoover-color);;
}

.border {
    border-color: var(--global-border-color) !important;
}

svg {
    fill: var(--global-primary-color);
    transition: .2s;
}

svg:hover {
    fill: var(--global-hoover-color);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    background: var(--global-primary-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--global-hoover-color);
}

body {
    position: relative;
    background: var(--global-bg-color);
}

h1, h2 {
    font-family: Calibri, sans-serif;
    font-size: 36px;
    color: var(--global-title-color);
}

.separator {
    height: 1px;
    background: var(--global-border-color);
    margin-bottom: 1em;
}

section, footer, .arrow-btn {
    position: relative;
    z-index: 2;
}

.reveal {
    opacity: 0;
    transform: translateX(-2.5%);
    transition: .4s;
    padding-top: 10%;
}

.reveal.active {
    opacity: 1;
    transform: translateX(0);
}

.arrow {
    position: absolute;
    bottom: 1em;
}

.arrow.up {
    height: 2.5em;
    width: 2.5em;
    padding: 0 12px;
    right: 1em;
    border-radius: 50px;
    fill: var(--global-primary-color);
    transform: rotate(180deg) scale(0);
}

.arrow.up.reveal {
    opacity: 1;
    transform: rotate(180deg) scale(1);
}

.arrow.up:hover {
    fill: var(--global-bg-color);
}

.area {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: rotate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}